*{
    margin: 0;
    padding: 0;
}
span{
    color: #E95A08;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* navbar */
.navbar{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 120px;
}
.nav-list{
    display: flex;
    text-decoration: none;
    gap:3rem;
}
.nav-link{
    text-decoration: none;
    color: black;
    
}
.navli{
    list-style: none;
}
.text{
    color: #8987A1;
}
/* banner-section */
.banner{
    max-width: 1140px;
    max-height: 461px;
    display: flex;
    margin: 0 auto;
    align-items: end;
    box-sizing: border-box;
    margin-bottom: 120px;
}
.banner-text{
    width: 570px;
    height: 299px;
    margin-bottom: -40px;
}
.banner-title{
    font-size: 4rem;
    line-height:80px;
    margin-bottom:15px;

}
.banner-subtitle{
    color:#00000080 ;
    font-size: 1.2rem;
    line-height: 22px;
}
/* Our-Plants */
.our-plants{
    max-width: 1140px;
    max-height: 1186px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 210px;
}
.our-title{
    font-size: 3rem;
}
.our-subtitle{
    font-size: 1.2rem;
    line-height: 22px;
    color:#00000080;
    margin-bottom: 48px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cart{
    width: 100%;
    height: 50px;
    background-color: #E95A08;
    border: none;
    color:#FFFFFF ;
}
/* plants-lover */
.plants-lover{
    max-width: 1140px;
    max-height: 597px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 130px;
}
.flower{
    max-width: 540px;
    max-height: 521px;
}
.badge-img{
    width: 286px;
    height: 286px;
    position: absolute;
    top:-110px;
    left: 370px;
    border-radius: 50%;
    filter: drop-shadow(-4px 10px 3px rgba(0, 0, 0, 0.4));
    animation: spin 5s linear infinite;   
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flower{
    box-sizing: border-box;
    margin-left: 90px;
}
.flower-title{
    font-size: 3rem;
    margin-bottom: 15px;
}
.description{
    font-size: 1.2rem;
    color: #8987A1;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
}
/* latest-deal */
.latest-deal{
    max-width: 1440px;
    max-height: 138px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
}
.deal-title{
    font-size: 3rem;
    margin-bottom: 16px;
}
.deal-subtitle{
    font-size: 1.2rem;
    color: #8987A1;
    line-height: 20px;
}
/* img-container */
.img-container{
    max-width: 1140px;
    height: 423px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 120px;
}

.box1{
    background-image:
    linear-gradient(to bottom, rgba(7, 2, 17, 0.356),rgba(7, 2, 17, 0.158)),
     url("./assets/deal-bloom.png");
    background-size: cover;
    
} 
.box2{
    background-image:
    linear-gradient(to bottom, rgba(7, 2, 17, 0.356),rgba(7, 2, 17, 0.158)), 
    url("./assets/deal-ana.png");
    background-size: cover;
    grid-row: 2/3;
    
} 
.box3{
    background-image: 
    linear-gradient(to bottom, rgba(7, 2, 17, 0.356),rgba(7, 2, 17, 0.301)),
    url("./assets/deal-zabo.png");
    background-size: cover;
    grid-row: -3/-1;
}
.img{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}
.box-title{
    font-size: 1.2rem;
    color: #FFFFFF;
}
.box-button{
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: underline;
}
.box-title-l{
    font-size: 2.3rem;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.box-button-l{
    font-size: 1.9rem;
    color: #FFFFFF;
    text-decoration: underline;
}
/* join-bunch*/
.join-bunch{
    max-width: 1440px;
    height: 533px;
    margin: 0 auto;
    background-image: url("./assets/news-letter-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-title{
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
.user{
    width: 644px;
    height: 50px;
    padding-left: 20px;
    outline: none;
    border: none;
    
}
.join-button {
     background-color: #E95A08;
     width: 186px;
     height: 50px;
     border: none;
     margin-left: -6px;
     color: #FFFFFF;

}
/* footer */
.footer{
    max-width: 1440px;
    height: 348px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-subtitle{
    
}